body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.maroon-highlight{
    color: #C80000;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
    margin-right: 5px;  
} 
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 350px;
    padding-bottom: 50px; 
}
.link-button{
    text-decoration: none;
    background-color: rgb(172, 13, 13);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 70;
}
.latestWork-area {
    background-image: url("images/latest-work-bg.png");
    overflow: hidden;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 50px;
}
.latest-content {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
    overflow: hidden;
}
.div-section {
    width: 100%;
    margin-left: 5%;
}
.latestWork-single-section {
    float: left;
    width: 25%;
    padding-left: 5px;
    margin: 5px;

}
.latestWork-single-section img {
    width: 100%;
}
.clients-area {
    background-image: url("images/footer-bg.png");
    overflow: hidden;
    text-align: center;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.clients-asks {
    font-size: 45px;
    font-weight: 600;
}
.clients-name {
    padding-top: 70px;
    color: rgb(172, 13, 13);
}
.clients-name h5 {
    font-size: 30px;
}
.clients-paragraph {
    padding: 50px;
    font-size: 15px;
}
.message-box {
    width: 40%;
    height: 40px;
    margin-left: 30%;
    padding-top: 20px;
    text-align: center;
    background-image: linear-gradient(50deg, red, deeppink);
    border-radius: 5px;
}
.mail-paragraph {
    font-size: 20px;
    color: white;
}
.mail-address {
    font-size: 40px;
    font-weight: 600;
    color: white;
}
footer p{
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}